*{
    padding: 0;
    margin: 0;
    text-decoration:none;
    list-style: none;
    box-sizing: border-box;
}

nav{
        background-color: #251c0383;
        height: 80px;
        width:100%;
}
.logo a{
    text-decoration: none;
    color: white;
    line-height: 80px;
    font-size: 35px;
    width: 100px;
}
.menucontent{
    float: right;
    
}
.menucontent li{
    display: inline-block;
    line-height: 80px;
    margin: 0 .2rem;
}
.menucontent a{
    font-size: 17px;
    text-decoration: none;   
    color:white;
    padding:4px 8px;
}
.menucontent a:hover{
    background-color: #794b21a4;
    transition: .5s;
    border-radius: 12px;
}
/*design of  animated menu bar*/
.bar1, .bar2, .bar3{
    height: 5px;
    width: 35px;
    background-color: white;
    transition: 0.4s;
    margin:6px 0; 
    
}
.change .bar1{
    transform: translate(0, 11px) rotate(-45deg);
    }
    .change .bar2{
        opacity: 0;
    }
    .change .bar3{
        transform: translate(0, -11px) rotate(45deg);
    }
    /*design of  animated menu bar ends here*/
    /*design of menu buttonn begins*/ 
    .check{
        float: right;   
        cursor: pointer;
        display: none;
    }
    .menuButton{
        padding-top: 20px;
    }
    #checkbttn{
        display:none;
    }
    /*design of menu button ends here*/
    /*section design of body begins here*/

        .section1{
         background: url(https://www.fantasypark.in/uploads/banner-01.jpg);
         background-repeat:no-repeat;
         position: fixed;
         height: 641px;
         width:100%;
         filter:alpha(opacity=90);
         background-position: center;
         background-size:cover;   
        }
      #p1{
        font-size: 60px;
        font-weight: 800;
      }
      #p2{
        font-size: 40px;
        font-weight: 600;
      }
        .span1{
            color:white;
        }
        .span2{
            color: rgb(226, 230, 28);
        }
        .card-overlay {
            background: rgba(0, 0, 0, 0.5);
            height: 641px;
            width: 100%;
            background-size: cover;
          }
          .card{
            background-color: rgba(255, 255, 255, 0);
            border: none;
            position: absolute;
            top: 310px;
          }
          .cardabout{
            background-color: rgba(0, 0, 0, 0);
            border:none;
            position: absolute;
            top: 80px; ;
          }
.btn{
    font-weight: 600;
    font-size: 17px;
    background-size: 200% 200%;
    background-image: 
  linear-gradient(to top, #76daff 50%, transparent 50%);
  transition: background-position 900ms, color 900ms ease, border-color 900ms ease;
}
.btn:hover{
    background-image: 
    linear-gradient(to top, #76daff 51%, transparent 60%);
  background-position: 0 100%;
  transition: background-position 900ms, color 900ms ease, border-color 900ms ease;
}
#img1{
    height:400px;
    width: 400px;
    /*position: absolute;
    top:40px;
    right:40px; */
}
#p3{
    width: 500px;
    font-size: 20px;
    text-overflow: break-all;
    word-wrap: break-all;
    word-break:keep-all;
    color: white;
}
#p4
{
    font-size: 30px;
    font-weight: 600;
}
.gridimg{
height: 120px;
width: 100%;
}
.heading{
    font-size: 50px;
    font-weight: 700;
}
.bg1{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTD3Q_5xAjiy7B_8heAXF5hyZF4bDyaxALUg&s);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    width: 70%;
    border:2px solid black;
}
.bg2{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRA_0jrs6UHDS6ki7eiLFynEc0xhXNbCPGHuQ&s);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    width: 70%;
    border:2px solid black;    
}
.bg3{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRl_euTfK_1LNWlmgtNqmXvV1x3N7yt933eHg&s);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    width: 70%;
    border:2px solid black; 
}
.p6{
    font-size: 20px;
    font-weight: 400;
}
.p7{
    font-size: 20px;
    color: rgb(248, 244, 10);
    font-weight: 500;
}
.typ{
    padding: 5px 10px;
    font-size: 12px;
}
.tariff-card{
    background-color: rgba(0, 0, 0, 0.411);
     height:90vh; 
}
.rate{
    color:white;
    font-size: 30px;
    font-weight: 900;
}
.contactcard{
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.555);
    height: 250px;
    width: 400px;
}