/*this css page  is used for the responsive css of the website.*/

/*respnsive design for display above 768px*/
    @media only screen and (min-width: 768px){
        .menucontent a{
            font-size: 15px;
            padding: 2px 4px;
        }
        .logo a{
            font-size: 25px;
        }
        #p1{
            font-size: 50px;
            font-weight: 800;
          }
          #p2{
            font-size: 40px;
            font-weight: 600;
          }
          #p3{
            width: 650px;
            font-size: 18px;
            text-overflow: break-all;
            word-wrap: break-all;
            word-break:break-all;
            color: white;
        }
          #p4{
            font-size: 25px;
            font-weight: 500;
          }
          
.cardabout{
    top:20px;
}
#img1 {
    padding-top:20px;
    height: 280px;
    width: 280px;
}   
    }
    /*respnsive design for display above 992px*/
    @media only screen and (min-width: 992px){
        .menucontent a{
            font-size: 20px;
            padding: 4px 8px;
        }
        .logo a{
            font-size: 35px;
        }
        #p1{
            font-size: 60px;
            font-weight: 800;
          }
          #p2{
            font-size: 40px;
            font-weight: 600;
          }
          #p3{
            width: 500px;
            font-size: 20px;
            text-overflow: break-all;
            word-wrap: break-all;
            word-break:break-all;
            color: white;
        }
          #p4{
            font-size: 25px;
            font-weight: 500;
          }
          
.cardabout{
    top:80px;
}
#img1 {
   
    height: 400px;
    width: 400px;
}  
    }
    /*respnsive design for display under 768px*/
    @media only screen and (max-width: 768px){
        .check{
            display:block;}
            .menucontent{
                position:fixed;
                width:100%;
                text-align: center;
                
                right: -100%;
                top:80px;
                transition:.5s;
                padding: 0;
            }
            .menucontent li{
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content:space-between;
                padding: 5px 10px;
                line-height: 20px;
            }
            .menucontent a{
                padding:5px 10px;
                border-radius: 12px;
            }
             .menucontent a:hover{
                background-color: #794b21a4;
                transition: .5s;
                border-radius: 12px;
             }
            .menucontent ul li{
                padding:0 0;
            }
            /*to display menu button on click*/
            #checkbttn:checked ~ ul{
                top:80px;
                right:0;
                background-color: #251c0383;       
            }
            /*#btn2{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                gap:.5rem;
            }*/
            #p1{
                font-size: 40px;
            font-weight: 700;}
            #p2{
                font-size: 35px;
            font-weight: 700;
            }
            #p3{
                width: 480px;
                font-size: 16px;
                text-overflow: break-all;
                word-wrap: break-all;
                word-break:break-all;
                color: white;
            }
              #p4{
                font-size: 19px;
                font-weight: 500;
              }
              
            .cardabout{
                top:20px;
            }
            #img1 {
                padding-top:30px;
                height: 250px;
                width: 250px;
            }  
            .heading{
                font-size: 30px;
                font-weight: 500;
            }
            .p6{
                font-size: 14px;
                font-weight: 400;
            }
            .p7{
                font-size: 17px;
                color: rgb(248, 244, 10);
                font-weight: 500;
            }
            .typ{
                padding: 5px 10px;
                font-size: 12px;
            }
            .bg1, .bg2, .bg3, .tariff-card  {
                height:105vh;
            background-size: cover;
            }
        }

        @media only screen and (max-width:575px){
            #btn2{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                gap:.5rem;
        }
        #p1{
            font-size: 25px;
        font-weight: 700;
        }
        #p2{
            font-size: 20px;
        font-weight: 700;
        }
        #p3{
            width: 300px;
            font-size: 12px;
            text-overflow: break-all;
            word-wrap: break-all;
            word-break:keep-all;
            color: white;
        }
          #p4{
            font-size: 15px;
            font-weight: 500;
          }
          
.cardabout{
    top:20px;
}
#img1 {
    padding-top:30px;
    height: 280px;
    width: 280px;
}
.xs{
    padding: auto;
    margin: none;
    column-gap: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   
.p6{
    font-size: 12px;
    font-weight: 400;
}
.p7{
    font-size: 15px;
    color: rgb(248, 244, 10);
    font-weight: 500;
}
.typ{
    padding: 5px 10px;
    font-size: 12px;
}
.bg1, .bg2, .bg3, .tariff-card  {
    height:105vh;
background-size: cover;
}
    }
