#home{
    position: relative;
    z-index: 6;
}
#about{
    position:relative;
    z-index: 5;
    background-color: rgb(170, 164, 164);
    background-size: cover;
    height:641px;
}
#rides{
    position: relative;
    z-index:4;
}
#tariff{
    position: relative;
    z-index:3;
    background-color: rgb(56, 22, 22);
    /*height:900px;*/
    display: flex;
    justify-content: center;
}